#===============================================================================
# Project NPMIgnore
#===============================================================================

.github
.vscode
src
